<!--
  HTML for Account page.
  @developer: Robin and Hannah
!-->

<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Welcome, <%= userFirstName %>!</h1>


    <!--
      List of posts for the logged-in user
      @developer: Robin
	  
      Add button for redirection to data visualizations
      @developer: Hannah
    !-->
    <h2>Your Posts</h2>
    <%
      var list = '';
      var count = 0;
      for (i = 0; i < posts.length; i++) {
        if (posts[i].user == user) {
          count += 1;
          list += '<ul><li>' + 
                      'Post ID: ' + i.toString() + '<br>' + 
                      'Weekday: ' + posts[i].weekday + '<br>' + 
                      'Time: ' + posts[i].time + '<br>' + 
                      'Food type: ' + posts[i].food + '<br>' +
                      'Location: ' + posts[i].location + '<br>' + 
                      '</li></ul>';
        }     
      }
      if (count == 0) {
        list = '<h3>No posts made yet!</h3>';
      }
    %>
    
    <%- list %>

    <ul style="color:white; float: left;" class="nav navbar-nav">
        <li><a href="/graphs"> See Data Visualizations  </a> </li>
    </ul>


  </body>

</html>