<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Made by Hannah, Kanishka, Mythili, Nira, and Robin</h2>
    <br><br><br>
    <div align="center">
      <form style="margin-right: 5%" method="GET" action="login">
        <button id="loginButton" style="font-size: 200%">
          Login
        </button>
      </form>
      <form style="margin-left: 5%" method="GET" action="register">
        <button id="registerButton" style="font-size: 200%">
          Register
        </button>
      </form>
    </div>

  </body>
</html>
