<!--
  HTML for Register page.
  @developer: Robin
!-->

<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <!--
      Form for registering accounts, action="/register"
      Attributes: firstname, lastname, username, password, email, phone, school, year
      Submit button has id "submitButton"
      Also has isAdmin attribute that is true if adminKey matches manual key
      @developer: Robin
    !-->
  <body>
    <h1><%= title %></h1>

    <form id="formRegisterAccount" name="register" method="post" action="/register">
      <div>
        <input id="inputFirstName" type="text" placeholder="First Name" name="firstname" />
        <input id="inputLastName" type="text" placeholder="Last Name" name="lastname" />
        <input id="inputUsername" type="text" placeholder="Username" name="username" />
        <input id="inputPassword" type="text" placeholder="Password" name="password" />
      </div>
      <div>

      <div style="margin-top: 1%">
      <input id="inputEmail" type="text" placeholder="Email" name="email" />
      <input id="inputPhone" type="text" placeholder="Phone Number" name="phone" />
      <input id="inputSchool" type="text" placeholder="School" name="school" />
      <input id="inputYear" type="text" placeholder="Year" name="year" />
      </div>

      <div style="margin-top: 5%">
        <button id="submitButton">Submit</button>
      </div>

      <div style="margin-top: 5%">
        <input id="adminKey" type="text" placeholder="ADMIN KEY" name="adminKey" />
      </div>
    </form>

  </body>

</html>